In [2]:
import numpy as np 
import os 
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy.stats

In [3]:
data_dir = "C:/Users/Savitha Srinivasan/UCSD assn/ECE 143/ECE-143-Project---Joke-recommendation-system/dataset/JesterDataset4/[final] April 2015 to Nov 30 2019 - Transformed Jester Data - .xlsx"
df = pd.DataFrame(pd.read_excel(data_dir))

In [4]:
df.index = range(df.shape[0])
df.index.name = "UserID"
col_names = ["joke"+str(i) for i in range(1, df.shape[1])]
df.columns = ["NumRated"] + col_names
df[df==99.0] = np.nan
df = df.loc[:, df.columns != "NumRated"]
df.head(6)

,joke1,joke2,joke3,joke4,joke5,joke6,joke7,joke8,joke9,joke10,...,joke149,joke150,joke151,joke152,joke153,joke154,joke155,joke156,joke157,joke158
UserID,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.61,-4.51,0.00,0.00,NaN,0.00,5.93,4.19
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.19,NaN,0.00,3.41,NaN,-2.32,NaN,0.00,2.93
5,NaN,NaN,NaN,NaN,NaN,NaN,-4.45,7.54,NaN,NaN,...,-1.97,1.89,0.00,0.00,7.38,3.19,-9.33,-7.26,-9.13,-8.19

In [5]:
#normalization
def normalize_data(dataframe): 
    mean_data = dataframe.sum(axis=1, numeric_only=True)/dataframe.count(1)
    print(mean_data)
    return dataframe.subtract(mean_data, axis='rows')
normalized_df = normalize_data(df)
normalized_df.head(6)

UserID
0       8.210000
1      -1.057500
2       1.111064
3      -0.253077
4       3.009091
          ...
7693    0.350741
7694   -9.510000
7695    1.804231
7696    1.904531
7697    4.225000
Length: 7698, dtype: float64

,joke1,joke2,joke3,joke4,joke5,joke6,joke7,joke8,joke9,joke10,...,joke149,joke150,joke151,joke152,joke153,joke154,joke155,joke156,joke157,joke158
UserID,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.498936,-5.621064,-1.111064,-1.111064,NaN,-1.111064,4.818936,3.078936
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.253077,NaN,NaN,NaN,0.253077
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.180909,NaN,-3.009091,0.400909,NaN,-5.329091,NaN,-3.009091,-0.079091
5,NaN,NaN,NaN,NaN,NaN,NaN,-3.491964,8.498036,NaN,NaN,...,-1.011964,2.848036,0.958036,0.958036,8.338036,4.148036,-8.371964,-6.301964,-8.171964,-7.231964

In [6]:
#similarity computation
def cosine_similarity(new_user,dataframe): 
    numerator = np.nansum(dataframe * new_user, axis=1)
    norm_user = np.sqrt(np.nansum(np.power(new_user, 2)))
    norm_df = np.sqrt(np.nansum(np.power(dataframe, 2), axis=1))
    sim = numerator / (norm_user * norm_df)
    sim = np.nan_to_num(sim)
    return sim